version: '3.9'

services:
  postgres:
    image: postgres:13
    restart: unless-stopped
    container_name: postgres
    env_file: .env
    environment:
      POSTGRES_USER: seal_team
      POSTGRES_PASSWORD: seal_team
      POSTGRES_DB: main
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres-data:/var/lib/postgresql/data/pgdata
    ports:
      - 5432:5432
    networks:
      - main-private

volumes:
  postgres-data:

networks:
  main-private: